.text-demo {
  color: gray;
}

.title {
  padding: 8px 16px;
  color: var(--gray300) !important;
}

.item-wrapper {
  padding: 8px 16px;
  user-select: none;
  // transition: background 0.3s;
}

.active {
  background-color: var(--white_opacity5);
}
