$leftMenuDark: 5px 0px 10px 0px var(--black_opacity30);
$leftMenuLight: 5px 0px 10px 0px var(--black_opacity5);
$topMenuDark: 0px 5px 10px 0px var(--black_opacity30);
$topMenuLight: 0px 5px 10px 0px var(--black_opacity5);
$inContent: 0px 0px 10px 0px var(--black_opacity10);